/*メニューバー*/
#header {
  display: flex;
  padding: 0;
  background-color: #1b2538;
}
#header div {
  display: flex;
}
#header div:last-of-type {
  margin-left: auto;
}
#header div:first-of-type {
  border-left: none;
}
#header div a {
  line-height: 5vh;
  vertical-align: middle;
  border-right: solid 1px #bbbbbb;
  color: white;
  padding-left: 14px;
  padding-right: 14px;
  text-align: center;
  text-decoration: none;
}
#header div a:hover:not(.active) {
  background-color: #a9bce2;
  color: midnightblue;
}
#header div a.active {
  background-color: #da3c41;
}
#header div a.active:hover {
  background-color: pink;
  color: midnightblue;
}
