.profile-card__inner {
  position: relative;
}

.profile-thumb {
  overflow: hidden;
  width: 110px;
  height: 110px;
  border: #fff 3px solid;
  border-radius: 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: #fff;
}

.profile-thumb img {
  display: block;
  width: 100%;
  height: auto;
}

.profile-content {
  padding: 15px;
}

.profile-content span {
  display: block;
}

.profile-name {
  margin-bottom: 3px;
  font-weight: bold;
  text-align: center;
}

.profile-job {
  margin-bottom: 10px;
  color: #ccc;
  font-size: 10px;
  text-align: center;
}

.profile-intro {
  font-size: 12px;
}

.btn-push {
  position: absolute;
  top: 0;
  right: 1%;
  display: inline-block;
  padding: 0.75em 1em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;
 
}

.btn-push:active {
  transform: translateY(4px);
  border-bottom: none;
}

.background {
  height:100vh;
  background: linear-gradient(-225deg, rgba(35, 100, 150, 0.9) 0%, rgba(35, 160, 170,0.75) 56%, rgba(35, 220, 220, 0.5) 100%);
}